/* Name:Adithyan.Jyothish.Nair student number:8981148*/

body {
    font: 12px Arial;
    background-color: rgb(129, 201, 202);
    width: 85vw;
    border: 4px solid black;
    margin: auto;
}

h1{
    color: blue; 
    font-size: 50px;
}

main {
    float: left;
    width: 66%;
    background-color: hsl(89, 100%, 85%);
}
aside{
    float: right;
    width: 380px;
    background-color: hsl(311, 92%, 15%);
    padding-bottom: 800px;
}

header {
    background-color: hsl(182, 25%, 50%);
}

footer {
    background-color: hsl(0, 50%, 47%);
    clear: both;
}
.structural {
    margin: auto;
    padding: 10px;
    border: 5px rgb(118, 117, 117) solid;
}
a:hover {
    text-decoration: none;
    color: rgb(238, 132, 19);
}

footer p {
    font-size: smaller;
}

aside ul{
    list-style:square ;
}

aside li{
    line-height: 1.5rem;
    color: rgba(165, 42, 42, 0.871);   
}
#1unique {
    color: rgb(0, 255, 13);
}

#2unique {
    color: rgb(128, 0, 115);
}

#footerp{
    color: rgb(238, 85, 85);
}

nav li{
    display: inline;
    list-style: none;
}

nav a{
    border: indigo 2px solid;
    padding: 2px;
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
    font-size: 2em;
}

nav a:hover{
    border: cornsilk 2px solid;
    color: cornsilk;
    background-color: indigo;
}

form{
    border: 5px dashed rgb(255, 119, 0);
    padding: 5px;
}

input[type=text], 
input[type=email],
input[type=submit],
select, option{
    width: 50%;
    display: block;
    height: 2em;
}

input[type=radio],
input[type=checkbox]{
    height: 2em;
    width: 2em;
}

select, option, label, legend,
input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    width: 50%;
    display: block;
}

fieldset{
    border: none;
}