/* Name:Adithyan.Jyothish.Nair student number:8981148*/
html {
    font: 20px Arial;
}


body {
    display: flex;
    flex-direction: column;
    background-color: rgb(129, 201, 202);
    width: 85vw;
    border: 0.2em solid black;
    margin: auto;
}

h1{
    color: blue; 
    font-size: 2.5rem;
}

main {
    flex: 2 1 70%;
    background-color: hsl(89, 100%, 85%);
}
aside{
    flex: 1 1 30%;
    background-color: hsl(311, 92%, 15%);
}

header {
    background-color: hsl(182, 25%, 50%);
}

footer {
    background-color: hsl(0, 50%, 47%);
}
.structural {
    margin: 1rem;
    padding: 0.5em;
    border: 0.25em rgb(118, 117, 117) solid;
}
a:hover {
    text-decoration: none;
    color: rgb(238, 132, 19);
}

footer p {
    font-size: smaller;
}

aside ul{
    list-style:square ;
}

aside li{
    line-height: 1.5rem;
    color: rgba(165, 42, 42, 0.871);   
}
#1unique {
    color: rgb(0, 255, 13);
}

#2unique {
    color: rgb(128, 0, 115);
}

#footerp{
    color: rgb(238, 85, 85);
}

nav li{
    display: inline;
    list-style: none;
}

nav li a{
    border: indigo 0.2em solid;
    padding: 1em;
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
    font-size: 1em;
}

nav a:hover{
    border: cornsilk 0.1em solid;
    color: cornsilk;
    background-color: indigo;
}

form{
    border: 0.25em dashed rgb(255, 119, 0);
    padding: 0.25em;
}

input[type=text], 
input[type=email],
input[type=submit],
select, option{
    width: 50%;
    display: block;
    height: 2em;
}

input[type=radio],
input[type=checkbox]{
    height: 2em;
    width: 2em;
}

select, option, label, legend,
input[type=submit]{
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea{
    width: 50%;
    display: block;
}

fieldset{
    border: none;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

figure{
    border: 2px black solid;
}

figure img{
    height: 80%;
    width: 80%;
}

@media only screen and (max-width:600px){
    html{
        font-size: 10px;
    }

    section{
        flex-wrap: wrap;
    }

    #gallery{
        grid-template-columns: 1fr;
    }

    

}